<div class="text-center jumbotron">
  <h1>Welcome to your future reading list</h1>
  <h2>Bookify is for book lovers</h2>
  <%= link_to "How to use", about_path, class: "btn btn-lg btn-success" %>
  <%= link_to "Sign up now!", signup_path, class: 'btn btn-lg btn-primary' %>
</div>
