<div class="text-center jumbotron">
  <h1>Welcome to your future reading list</h1>
  <h2>This app is for book lovers</h2>
  <%= link_to "Sign up now!", signup_path, class: 'btn btn-lg btn-primary' %>
</div>
