<h1>System Use Cases</h1>

<h3>Browse registered users' reading lists</h3>

<p>
A visitor can freely browse users' reading lists:

<ul>
  <li>Visitor navigates his web browser to the app's homepage.</li>
  <li>Visitor clicks on "All Users" link on the navigation bar.</li>
  <li>The system will return the list of all users including all the books associated with users.</li>
  <li>Visitor can freely choose any user's reading list he likes by clicking the link of that user.</li>
</ul>
</p>

<h3>Search for books or keywords</h3>

<p>
A visitor can search for books by keywords or author:

<ul>
  <li>Visitor clicks on a user's reading list</li>
  <li>System returns all the books from the user's reading list.</li>
  <li>Visitor clicks on search bar to search for books start with the word "Fire"</li>
  <li>Systems queries database and returns all the books satisfied the condition.</li>
</ul>
</p>

<h3>Query books by categories</h3>

<p>
A visitor can query books by categories:

<ul>
  <li>Visitor clicks on a user's reading list</li>
  <li>System returns all the books from the user's reading list.</li>
  <li>Visitor clicks on "Fiction" category label on the right.</li>
  <li>System queries database and groups all the books by "Fiction" category and returns to the visitor.</li>
</ul>
</p>

<h3>Register new account</h3>

<p>
A visitor can register new account:

<ul>
  <li>Visitor navigates to the homepage.</li>
  <li>Visitor clicks on "Sign up" link.</li>
  <li>System returns registration form.</li>
  <li>Visitor fills out the form and hit submit.</li>
  <li>System creates new record for the user and flashes a message indicating new account has been created.</li>
  <li>New user gets redirected to his homepage.</li>
</ul>
</p>

<h3>Edit account details</h3>

<p>
A registered user can edit his account details:

<ul>
  <li>User logs into the system.</li>
  <li>User clicks on his name on the navigation bar to trigger dropdown menu.</li>
  <li>User clicks on Settings to edit his account.</li>
  <li>Systems returns registration form with details filled in.</li>
  <li>User updates his account and hits submit.</li>
</ul>
</p>

<h3>Create new book</h3>

<p>
A registered user can create new book in his list:

<ul>
  <li>User logs into the system.</li>
  <li>User clicks on "New Book" link.</li>
  <li>System returns new book form for user to fill in details.</li>
  <li>User hits "Creat new book" button to submit the form.</li>
  <li>System creates new record for new book and redirects user to his page.</li>
</ul>
</p>

<h3>Drop a review</h3>

<p>
A registered user can drop review on the book they finished reading:

<ul>
  <li>User logs into the system.</li>
  <li>User clicks on the book they want to make a review on.</li>
  <li>User clicks on "Create Review" link.</li>
  <li>System returns review form.</li>
  <li>User fills out the form and hits submit.</li>
</ul>
</p>
