<header>
  <div class="jumbotron text-center hero">
    <h2>Movie Search</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="What movie?" autofocus>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end jumbotron -->
</header>

<%= link_to "New Book", new_user_book_path(@user), class: 'btn btn-primary' %>

<hr />

<div class="row">
  <div class="col-md-8">
    <ul class="list-unstyled book-list">
      <%= render @books, user: @user %>
    </ul>
  </div>
</div>

