<footer>
  <div class="container text-center">
    <small>
      &copy; <%= Time.now.year %> handcoded with <%= fa_icon('heart') %> by <%= link_to "Quoc Nguyen", 'http://squoc.me' %>
    </small>
  </div>
</footer>


